<h3 class="text-center"><%= current_user.record_label.name %> Recordings</h3>
<div class="search-form">
  <%= form_tag record_label_recordings_path(current_user.record_label), method: :get do %>
    <div>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-control-sm mb-2",
        placeholder: "Search..."
      %>
    </div>
    <div class="flex just-cont-cent marg-16px">
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<% if @recordings %>
  <% @recordings.each do |recording| %>
    <details>
      <summary><%= "#{recording_acts_formatter(recording)} - #{recording.title}" %></summary>
      <%= link_to "#{recording.title}", record_label_recording_path(current_user.record_label, recording) %>
    </details>
  <% end %>
<% end %>
