

<h3>New Recording</h3>

<div class="create-form">
  <%= simple_form_for [current_user.record_label, @recording] do |f| %>
    <div>
      <%= f.association :song, label: 'Song/Musical Work', hint: "Work not in database? Add #{link_to 'here', new_song_path} before continuing".html_safe, input_html: { class: 'select2' }  %>
      <%= f.input :title, label: 'Recording Title', placeholder: 'The Greatest Song in the World' %>
      <%= f.association :acts, label: 'Band(s)/Act(s)', input_html: { class: 'select2', multiple: "multiple" }  %>
      <%= f.association :musicians, label: 'Performers', input_html: { class: 'select2', multiple: "multiple" }  %>
      <%= f.input :isrc, label: 'ISRC', placeholder: 'US-RC1-76-07839' %>
      <%= f.input :bpm, label: 'BPM'%>
      <%= f.input :genre, collection: @genres, label: 'Primary Genre' %>
      <%= f.input :audio_file, as: :file %>
    </div>
    <div>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
