<h3><%= current_user.record_label.name %> Releases</h3>
<div class="search-form">
  <%= form_tag record_label_releases_path(current_user.record_label), class: "form-inline", method: :get do %>
  <div>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control form-control-sm mb-2",
      placeholder: "Search..."
    %>
  </div>
  <div>
    <%= submit_tag "Search" %>
  </div>
  <% end %>
</div>
<% if @releases %>
  <ul>
      <% @releases.each do |release| %>
        <h4><%= release_acts_formatter(release) %></h4>
        <li>
          <%= link_to "#{release.title}", record_label_release_path(current_user.record_label, release) %>, <%= release.format.description %>, <%= release.territory.name %>, <%= release.release_date %>
        </li>
      <% end %>
  </ul>
<% end %>
<%= link_to 'Create New Release', new_record_label_release_path(current_user.record_label) if current_user.admin? %>
<%= link_to 'Back to Home', authenticated_root_path %>
