<h2><%= release_acts_formatter(@release) %></h2>
<h3><%= @release.title %></h3>
<ul>
  <% @release.release_recordings.each do |track| %>
    <li><%= track.track_number %>. <%= track.recording.title %></li>
  <% end %>
</ul>

<%= link_to 'Back to Releases', :back %>
