<!DOCTYPE html>
<html>
  <head>
    <title>LabelOrg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <div id="main-body">

      <div id="main-section">
        <div>
          <%= yield %>
        </div>
      </div>

      <div id="info-bar">
        <h3>Upcoming Releases</h3>
        <ul>
          <% upc_rels(current_user.record_label).each do |release| %>
            <li><%= release %></li>
          <% end %>
        </ul>
        <hr>
        <h3>Upcoming Deal Terminations</h3>
        <ul>
          <% upc_deal_terms(current_user.record_label).each do |release| %>
            <li><%= release %></li>
          <% end %>
        </ul>
      </div>

    </div>

  </body>
</html>
